.linkbutton {
    display: block;
    padding: 30px 5px;
    margin: 0 auto;
    font-size: 2em;
    height: auto;
    width: 90%;
    transition-duration: 0.5s;
}

.linkbutton:hover {
    width: 91%;
}

.buttonwrap {
    margin: 0 auto;
    height: 30%;
}

.subbox {
    display: none;
    width: 95%;
    margin: 0px auto;
}

@media only screen and (max-width: 600px) {
    .linkbutton {
        width: 98%;
    }
}

@media only screen and (max-height: 935px) {
    .linkbutton {
        padding: 15px 5px;
        font-size: 1.8em;
    }
}